body{
    background-color: #F1E6D0;
}

.cima{
    background-color: #AC8331;
}

.oque{
    top: 54px;
}

.ongs{
    background-color: #AC8231;
    width: 400px;
    height: 450px;
    border-radius: 82px;
}

.pq{
    background-color: #AC8231;
    width: 600px;
    height: 60px;
    left: 100%;
    border-radius: 82px;
}

.titulo{
    position: absolute;
width: 546px;
height: 74px;
left: 191px;
top: 1993px;

font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 63px;

color: #000000;
}

.footer{
    background-color: #AC8331;
}
