body{
    background-color: #F1E6D0;
}

.cima{
    background-color: #AC8331;
}

.oque{
    margin-top: 6%;
    width: 75%;
}

.tres{
   margin-top: 10%; 
   width: 75%;
}

.ongs{
    background-color: #cab07c;
    width: 400px;
    height: 450px;
    border: #000000;
    margin-top: 13%;
    margin-left: 50%;
}

.pq{
    color: #000000;
    width: 75%;
    margin-left: 13%;
    margin-top: 17%;
}

.titulo{
    position: absolute;
width: 40%;
font-family: 'Inika';
font-style: normal;
margin-top: 10%;
margin-left: 13%;

background-color: #AC8231;
border-radius: 82px;
}

.footer{
    background-color: #AC8331;
}

div{
    font-size: medium;
}

/*<div><img src="imgs/Untitled 1.png"></div>
col-6 col-lg-3 mb-2
*/

.c{
    border: #000000 solid 1px;
    background-color: #E4D2AD;
    text-decoration: none;
}

.carr{
    margin-left: 25%;
}

.bute{
    margin-left: 20%;
}

.butd{
    margin-right: 20%;
}

.carrossel1{
    width: 80%;
    margin-left: 10%;
    margin-top: 7%;
}

.carrossel2{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}

.iniciativas{
    margin-top: 12%;
    width: 75%;
    margin-left: 13%;
    text-align: center;
}

.bloco1{
margin-left: 10%;
margin-top: 6%;
width: 40%;
}

.bloco2{
    margin-left: 10%;
    margin-top: 8%;
    width: 40%;
}

.bloco3{
    margin-left: 50%;
    margin-top: -21.5%;
    width: 40%;
}

.bloco4{
    margin-left: 50%;
    margin-top: -11.5%;
    width: 40%;
}

